In [1]:
import pandas as pd
import glob
import json

path = './data/saenggak'
files = glob.glob(path + "/*.csv")
li = []

for file in files:
    df = pd.read_csv(file, encoding='CP949')
    li.append(df)

saenggak = pd.concat(li, axis=0, ignore_index=True)
saenggak.head()

,배달구분,진행상황,결제구분,카<->현,남은시간,요청시간,픽업,기사도착,도착지,도착지 전화번호,음식요금,배달요금,픽업기사,기사전화,진행시간,결제요청,카드금액,카드결제,기타,Unnamed: 19
0,배달대행,완료,NaN,NaN,NaN,18:16,18:27,NaN,NaN,NaN,13200,3000,안하영,010-4449-7953,08/13 18:32,선결제,0,미결제[][],문앞에 놓구 벨눌러주세요.,NaN
1,배달대행,완료,NaN,NaN,NaN,18:16,18:28,NaN,NaN,NaN,13700,3000,김범수,010-8984-6264,08/13 18:29,선결제,0,미결제[][],조심히 안전하게 와주세요 :),NaN
2,배달대행,완료,NaN,NaN,NaN,17:53,18:04,NaN,NaN,NaN,13700,3000,김경섭,010-9461-3455,08/13 18:04,선결제,0,미결제[][],조심히 안전하게 와주세요 :),NaN
3,배달대행,완료,NaN,NaN,NaN,17:53,18:13,NaN,NaN,NaN,16800,3500,이문호,010-8424-8227,08/13 18:29,선결제,0,미결제[][],조심히 안전하게 와주세요 :),NaN
4,배달대행,완료,NaN,NaN,NaN,17:47,18:03,NaN,NaN,NaN,17700,3000,오정현,010-6777-2063,08/13 18:14,선결제,0,미결제[][],문 앞에 두고 노크 부탁드립니다!,NaN

In [2]:
saenggak.drop(['Unnamed: 19'], axis=1, inplace=True)
saenggak.head()

,배달구분,진행상황,결제구분,카<->현,남은시간,요청시간,픽업,기사도착,도착지,도착지 전화번호,음식요금,배달요금,픽업기사,기사전화,진행시간,결제요청,카드금액,카드결제,기타
0,배달대행,완료,NaN,NaN,NaN,18:16,18:27,NaN,NaN,NaN,13200,3000,안하영,010-4449-7953,08/13 18:32,선결제,0,미결제[][],문앞에 놓구 벨눌러주세요.
1,배달대행,완료,NaN,NaN,NaN,18:16,18:28,NaN,NaN,NaN,13700,3000,김범수,010-8984-6264,08/13 18:29,선결제,0,미결제[][],조심히 안전하게 와주세요 :)
2,배달대행,완료,NaN,NaN,NaN,17:53,18:04,NaN,NaN,NaN,13700,3000,김경섭,010-9461-3455,08/13 18:04,선결제,0,미결제[][],조심히 안전하게 와주세요 :)
3,배달대행,완료,NaN,NaN,NaN,17:53,18:13,NaN,NaN,NaN,16800,3500,이문호,010-8424-8227,08/13 18:29,선결제,0,미결제[][],조심히 안전하게 와주세요 :)
4,배달대행,완료,NaN,NaN,NaN,17:47,18:03,NaN,NaN,NaN,17700,3000,오정현,010-6777-2063,08/13 18:14,선결제,0,미결제[][],문 앞에 두고 노크 부탁드립니다!

In [3]:
baemin = pd.read_csv('./baemin_compiled.csv')
baemin.head()

,주문번호,수령방법,결제방법,항목,추가선택,드레싱,서비스타입,주문금액,배달팁,결제금액,주문시각,접수시각,배달시각,주소,요청사항,배달요청사항
0,B0KB00H8UL,배달,바로결제,"훈제연어 샐러드, 훈제연어 샐러드",NaN,렌치,배민,18800,2000,20800,2020-01-02 17:58:18,2020-01-02 18:00:26,2020-01-02 18:40:26,전북 전주시 덕진구 금암1동 ****,NaN,[]
1,B0KC005QKF,배달,바로결제,"닭가슴살 샐러드, 훈제연어 샐러드",NaN,"오리엔탈, 렌치",배민,11900,3000,14900,2020-01-03 11:56:51,2020-01-03 11:57:13,2020-01-03 12:37:13,전북 전주시 덕진구 덕진동 ****,NaN,[]
2,B0KC00731E,배달,바로결제,"목살 샐러드, 훈제연어 샐러드",오리엔탈 드레싱,"발사믹, 렌치",배민,16300,1100,17400,2020-01-03 12:29:28,2020-01-03 12:30:13,2020-01-03 13:10:13,전북 전주시 완산구 중앙동 ****,NaN,[]
3,B0KC00AE0R,배달,바로결제,"훈제연어 샐러드, 목살 샐러드","목살 (100g), 숲속토핑 (110g)","렌치, 발사믹",배민,22000,2000,24000,2020-01-03 14:08:40,2020-01-03 14:08:56,2020-01-03 14:58:56,전북 전주시 덕진구 덕진동 ****,콩이 있다면 콩을 빼주시고 올리브 많이 넣어주세요,콩이 있다면 콩을 빼주시고 올리브 많이 넣어주세요
4,B0KC00CGQW,배달,바로결제,훈제연어 샐러드,NaN,렌치,배민,9900,3500,13400,2020-01-03 15:24:54,2020-01-03 15:25:21,2020-01-03 16:15:21,전라북도 전주시 덕진구 인후2동 ****,NaN,전화주시면 바로나갈게요

In [4]:
saenggak['요금+요청'] = saenggak.apply(lambda row: baemin.loc[(baemin['결제금액'] == row['음식요금'])&(baemin['배달요청사항'] == row['기타'])].index.values, axis=1)
saenggak.head(10)

,배달구분,진행상황,결제구분,카<->현,남은시간,요청시간,픽업,기사도착,도착지,도착지 전화번호,음식요금,배달요금,픽업기사,기사전화,진행시간,결제요청,카드금액,카드결제,기타,요금+요청
0,배달대행,완료,NaN,NaN,NaN,18:16,18:27,NaN,NaN,NaN,13200,3000,안하영,010-4449-7953,08/13 18:32,선결제,0,미결제[][],문앞에 놓구 벨눌러주세요.,[3730]
1,배달대행,완료,NaN,NaN,NaN,18:16,18:28,NaN,NaN,NaN,13700,3000,김범수,010-8984-6264,08/13 18:29,선결제,0,미결제[][],조심히 안전하게 와주세요 :),"[3728, 3729, 3767, 3813, 3862, 3889, 3908, 392..."
2,배달대행,완료,NaN,NaN,NaN,17:53,18:04,NaN,NaN,NaN,13700,3000,김경섭,010-9461-3455,08/13 18:04,선결제,0,미결제[][],조심히 안전하게 와주세요 :),"[3728, 3729, 3767, 3813, 3862, 3889, 3908, 392..."
3,배달대행,완료,NaN,NaN,NaN,17:53,18:13,NaN,NaN,NaN,16800,3500,이문호,010-8424-8227,08/13 18:29,선결제,0,미결제[][],조심히 안전하게 와주세요 :),"[3749, 3800, 3927, 3954, 3955, 3987]"
4,배달대행,완료,NaN,NaN,NaN,17:47,18:03,NaN,NaN,NaN,17700,3000,오정현,010-6777-2063,08/13 18:14,선결제,0,미결제[][],문 앞에 두고 노크 부탁드립니다!,[3726]
5,배달대행,완료,NaN,NaN,NaN,17:44,NaN,NaN,NaN,NaN,20800,3000,오정현,010-6777-2063,08/13 18:07,선결제,0,미결제[][],조심히 안전하게 와주세요 :),[3725]
6,배달대행,완료,NaN,NaN,NaN,17:07,17:25,NaN,NaN,NaN,24100,3000,김범수,010-8984-6264,08/13 17:34,선결제,0,미결제[][],조심히 안전하게 와주세요 :),[3724]
7,배달대행,완료,NaN,NaN,NaN,16:51,16:58,NaN,NaN,NaN,23300,3000,성우봉 부점장,010-3657-4400,08/13 17:07,선결제,0,미결제[][],조심히 안전하게 와주세요 :),"[3723, 3768]"
8,배달대행,완료,NaN,NaN,NaN,16:06,16:15,NaN,NaN,NaN,14200,4800,임이섭,010-8215-5244,08/13 16:26,선결제,0,미결제[][],조심히 안전하게 와주세요 :),"[3722, 3978]"
9,배달대행,완료,NaN,NaN,NaN,15:58,16:03,NaN,NaN,NaN,26900,4300,이문호,010-8424-8227,08/13 16:21,선결제,0,미결제[][],조심히 안전하게 와주세요 :),[3721]

In [5]:
saenggak.loc[4:6, ['요청시간', '진행시간', '요금+요청']]

    요청시간         진행시간   요금+요청
4  17:47  08/13 18:14  [3726]
5  17:44  08/13 18:07  [3725]
6  17:07  08/13 17:34  [3724]

In [6]:
baemin.loc[[3726,3725,3724], ['주문시각','접수시각','배달시각']]

                     주문시각                 접수시각                 배달시각
3726  2020-08-13 17:39:50  2020-08-13 17:40:38  2020-08-13 18:40:38
3725  2020-08-13 17:37:44  2020-08-13 17:38:01  2020-08-13 18:38:01
3724  2020-08-13 16:59:32  2020-08-13 16:59:47  2020-08-13 17:59:47

In [7]:
from datetime import datetime

for idx, row in saenggak.head().iterrows():
    saenggak_dt = f"{row['진행시간'][:row['진행시간'].find(' ')]} {row['요청시간']}"
    tdiff = {}.fromkeys(row['요금+요청'].tolist(), 0)
    for i in row['요금+요청']:
        bm_order = baemin.loc[i, '접수시각']
        baemin_dt = f"{bm_order[5:7]}/{bm_order[8:10]} {bm_order[-8:-3]}"
        FMT = '%m/%d %H:%M'
        diff_calculated = abs(datetime.strptime(saenggak_dt, FMT) - datetime.strptime(baemin_dt, FMT))
        tdiff[i] = diff_calculated
    best_match = int(min(tdiff))
    saenggak.loc[idx, '+최소시간차'] = best_match

In [8]:
saenggak.head()

,배달구분,진행상황,결제구분,카<->현,남은시간,요청시간,픽업,기사도착,도착지,도착지 전화번호,...,배달요금,픽업기사,기사전화,진행시간,결제요청,카드금액,카드결제,기타,요금+요청,+최소시간차
0,배달대행,완료,NaN,NaN,NaN,18:16,18:27,NaN,NaN,NaN,...,3000,안하영,010-4449-7953,08/13 18:32,선결제,0,미결제[][],문앞에 놓구 벨눌러주세요.,[3730],3730.0
1,배달대행,완료,NaN,NaN,NaN,18:16,18:28,NaN,NaN,NaN,...,3000,김범수,010-8984-6264,08/13 18:29,선결제,0,미결제[][],조심히 안전하게 와주세요 :),"[3728, 3729, 3767, 3813, 3862, 3889, 3908, 392...",3728.0
2,배달대행,완료,NaN,NaN,NaN,17:53,18:04,NaN,NaN,NaN,...,3000,김경섭,010-9461-3455,08/13 18:04,선결제,0,미결제[][],조심히 안전하게 와주세요 :),"[3728, 3729, 3767, 3813, 3862, 3889, 3908, 392...",3728.0
3,배달대행,완료,NaN,NaN,NaN,17:53,18:13,NaN,NaN,NaN,...,3500,이문호,010-8424-8227,08/13 18:29,선결제,0,미결제[][],조심히 안전하게 와주세요 :),"[3749, 3800, 3927, 3954, 3955, 3987]",3749.0
4,배달대행,완료,NaN,NaN,NaN,17:47,18:03,NaN,NaN,NaN,...,3000,오정현,010-6777-2063,08/13 18:14,선결제,0,미결제[][],문 앞에 두고 노크 부탁드립니다!,[3726],3726.0