In [1]:
import pandas as pd

xls = pd.ExcelFile('./new_albam.xlsx')
albam_new = pd.read_excel(xls, '일별 근무기록 및 급여', header=5)
columns = ['직원명', '출근 체크 날짜', '기준급여', '근무인정시간\n(B-A)-C', '기본 급여', '주휴수당']
data = albam_new[columns]
data.head()

   직원명    출근 체크 날짜  기준급여 근무인정시간\n(B-A)-C  기본 급여  주휴수당
0  김상우  2020-09-01  8590         2시간 31분  21618     0
1  김상우  2020-09-02  8590         2시간 20분  20043     0
2  김상우  2020-09-03  8590         2시간 34분  22048     0
3  김상우  2020-09-04  8590         2시간 34분  22048     0
4  김정건  2020-09-01  8590             30분   4295     0

In [2]:
data['출근 체크 날짜'] =pd.to_datetime(data['출근 체크 날짜'])
data.sort_values(by='출근 체크 날짜', ignore_index=True, inplace=True)

<ipython-input-2-25ac50c0dd09>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['출근 체크 날짜'] =pd.to_datetime(data['출근 체크 날짜'])
<ipython-input-2-25ac50c0dd09>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data.sort_values(by='출근 체크 날짜', ignore_index=True, inplace=True)

In [3]:
data['총급여'] = data['기본 급여'] + data['주휴수당']
data.head()

<ipython-input-3-80e3048021a8>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['총급여'] = data['기본 급여'] + data['주휴수당']

   직원명   출근 체크 날짜  기준급여 근무인정시간\n(B-A)-C  기본 급여  주휴수당    총급여
0  김상우 2020-09-01  8590         2시간 31분  21618     0  21618
1  정다운 2020-09-01  8590         2시간 15분  19328     0  19328
2  황수진 2020-09-01     0         6시간 47분      0     0      0
3  김정건 2020-09-01  8590             30분   4295     0   4295
4  김정건 2020-09-01  8590          9시간 0분  77310     0  77310

In [4]:
from datetime import datetime
def df_in_dates(dates):
    start_date = datetime.strptime(dates[0], '%Y-%m-%d')
    end_date = datetime.strptime(dates[-1], '%Y-%m-%d') if len(dates) > 1 else start_date
    print(start_date, end_date)
    
    filtered = data.loc[(data['출근 체크 날짜'] >= start_date) & (data['출근 체크 날짜'] <= end_date)]
    return filtered

df_in_dates(['2020-09-02','2020-09-03'])

2020-09-02 00:00:00 2020-09-03 00:00:00

    직원명   출근 체크 날짜  기준급여 근무인정시간\n(B-A)-C  기본 급여  주휴수당    총급여
10  정다운 2020-09-02  8590          2시간 1분  17323     0  17323
11   이웅 2020-09-02  9270          5시간 8분  47586     0  47586
12  신수정 2020-09-02  8590         7시간 15분  62278     0  62278
13  백정민 2020-09-02  9270         4시간 48분  44496     0  44496
14  김정건 2020-09-02  8590         1시간 34분  13458     0  13458
15  김정건 2020-09-02  8590          6시간 0분  51540     0  51540
16  김정건 2020-09-02  8590             30분   4295     0   4295
17  황수진 2020-09-02     0         6시간 49분      0     0      0
18  김상우 2020-09-02  8590         2시간 20분  20043     0  20043
19  진지한 2020-09-02  8590         2시간 30분  21475     0  21475
20  장윤경 2020-09-02     0         2시간 22분      0     0      0
21  진지한 2020-09-03  8590         2시간 42분  23193     0  23193
22  정다운 2020-09-03  8590          2시간 6분  18039     0  18039
23  장윤경 2020-09-03     0          2시간 1분      0     0      0
24   이웅 2020-09-03  9270         5시간 12분  48204     0  48204
25  황수진 2020-09-03     0         6시간 30분      0     0      0
26  백정민 2020-09-03  9270         4시간 33분  42179     0  42179
27  김상우 2020-09-03  8590         2시간 34분  22048     0  22048